:root {
    --secondary-color:#2196F3;
    --base-color:#000000;
}
.body {
    font-family: "Roboto", sans-serif;
}
.header-logo{
text-decoration: none;
}
.header-nav {
    text-decoration: none;
}
.hero-title{
line-height: 1.36;
}
.hero-button {
    line-height: 1.875;
}
.advantages-text {
    line-height: 1.71;
}
.footer-list {
    line-height: 1,71;
}
.second-button {
    line-height: 1,625;
}
.main-subtitle {
    line-height: 2;
}
.main-text {
    line-height: 1,875;
}